@import './componentes/componentes.css';
body {
    background-image: url(https://media.istockphoto.com/photos/green-velvet-pool-table-texture-picture-id181458477?k=20&m=181458477&s=170667a&w=0&h=IxyodRoQReF6_bl9GmcJHJ44jQcRc6-mCr025TTvgx8=);
}

.titulo {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    color: rgb(116, 6, 6);
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 800px) {
    html {
        font-size: 8px;
    }
    .botones {
        gap: 1.5rem;
    }
}